<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account activation template</title>

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    .button {
      display: inline-block;
      text-decoration: none;
      padding: 0.65rem 0.85rem;
      border-radius: 5px;
      background: blue;
      font-weight: 500;
      transition: all 700ms ease-in;
    }

    .button:hover {
      background: darkorchid;
    }
  </style>

</head>

<body style="background: #f3f1f1; color: #222;">
  <table style="width: 60%; margin: 0 auto; padding: 1.5rem 2rem;">
    <thead>
      <tr>
        <th>
          <h1>Confirmation du compte</h1>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="font-size: 1.2rem; padding: 2rem 0 0.5rem 0;">
          <span>Bonjour, </span>
          <b><%= recipientFullName %></b>
        </td>
      </tr>
      <tr>
        <td style="padding: 1rem 0; font-size: 1.15rem;">
          Votre compte viens d'être créer sur <b>SAMAPP</b>, cliquez sur bouton ci dessous afin de l'activer.
        </td>
      </tr>
      <tr>
        <td>
          <a href="<%= activationLink %>" target="_blank" rel="noopener noreferer" class="button"
            style="color: white; font-weight: 600; font-size: 1.15rem;">
            Confirmer mon compte
          </a>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td style="text-align: center; padding: 3rem 0 1rem 0; color: gray; font-size: 0.9rem;">&copy; 2020, SAMAPP,
          All rights
          reserved </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>